.flex-container 
{
   display: flex;
   flex-direction: column;
}
  
.flex-header
{
    background-image: url(../img/csonti.jpg);
    display: flex;
    flex-flow: row wrap;
    padding-top: 2em;
}
.flex-header>div
{
    padding: 1% 2% 1% 2%;
    margin: 2% 1% 1% 0%;
    background-color:rgb(245, 202, 92);
    box-shadow:2px 5px rgb(250, 172, 3);
    border-radius: 10%;
}
.flex-header>div :hover
{
    color: gray;
    border-radius: 10%;
    box-shadow: 2px 5px rgb(245, 202, 92);   
}
div>a
{
    text-decoration: none; 
    color:rgb(0, 0, 0);
    font-weight: bold;
}
.flex-body
{
    display: flex;
    flex-flow: row wrap;
    height: 500px;
}
.flex-main
{
    width:80%;
}
.flex-right
{
    width: 20%;
    background-color: rgb(245, 215, 171);
}
.flex-footer
{
    flex-direction: row;
    background-color: gray;
    color: wheat;
    height: 2em;
}
@media screen and (max-width: 600px)
{
    .flex-header
    {
        flex-direction: column;
    }
    .flex-body
    {
        flex-direction: column;
    }
}