body
{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container 
{
   display: flex;
   flex-direction: column;
}
  
.flex-header
{
    background-image: url(../img/csonti.jpg);
    display: flex;
    flex-flow: row wrap;
    padding-top: 2em;
}
.flex-header>div
{
    padding: 1% 2% 1% 2%;
    margin: 2% 1% 1% 0%;
    background-color:rgb(245, 202, 92);
    box-shadow:2px 5px rgb(250, 172, 3);
    border-radius: 10%;
}
.flex-header>div :hover
{
    color: gray;
    border-radius: 10%;
    box-shadow: 2px 5px rgb(245, 202, 92);   
}
div>a
{
    text-decoration: none; 
    color:rgb(0, 0, 0);
    font-weight: bold;
}
.flex-body
{
    display: flex;
    flex-flow: row wrap;
}

img:hover 
{
  box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}
.flex-main
{
    display: flex;
    flex-wrap: row wrap;
    width: 85%;
}
.bekezd-pic
{
    width: 40%;
    margin: 0.5%;
    border-radius: 10%;    
}
.flex-main>div
{
    margin: 1% 1% 1% 1%;
    padding: 1%;    
    border: 2px solid chocolate;
    box-shadow: 2px 5px coral;
    background-color:rgb(245, 202, 92);
    box-shadow:2px 5px rgb(250, 172, 3);
    border-radius: 10%;
    
}
.flex-right
{
    width: 15%;
    background-color:rgb(245, 202, 92);
    
}
.flex-footer
{
    background-image: url(../img/csonti.jpg);
    flex-direction: row;
    background-color: gray;
    color: wheat;
    height: 2em;
}
.bekezd
{
    text-align: justify;
    width: 30%;
}
.flex-lakt-main
{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.flex-lakt-main>div
{
    margin: 1% 1% 1% 1%;
    padding: 4%;    
    border: 2px solid chocolate;
    box-shadow: 2px 5px coral;
    background-color:rgb(245, 202, 92);
    box-shadow:2px 5px rgb(250, 172, 3);
    border-radius: 10%;
    
}
.lakt
{
    display: flex;
    flex-direction: column;
    
}
.lakt-pic
{
    width: 15%;
    border-radius: 10%;
}
.flex-galeria
{
    display: flex;
    flex-flow:row wrap ;
    
}
.galeria
{
   width: 8em; 
   margin: 1em;
   border: 1px solid #ddd;
   border-radius: 1em;
   padding: 0.3em;
}
@media screen and (max-width: 1125px)
{
    .flex-main
    {
        flex-flow: row wrap;
    }
    .bekezd
    {
        width: 40%;
    }
}
@media screen and (max-width: 800px)
{
    .flex-body
    {
        flex-direction: column;
    }
    .flex-main
    {
        flex-direction: column;
    }
    .bekezd
    {
        width: 100%;
    }
    .bekezd-pic
    {
        width: 10em;
        margin: 1%;
    }
    .flex-lakt-pic
    {
        width: 30em;
    }

}
@media screen and (max-width:600px)
{
    .lakt-pic
    {
        width: 10em;
    }
    .flex-lakt-pic
    {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:481px)
{
    .galeria
    {
        width: 80%;
    }
}
@media screen and (max-width: 458px)
{
    .bekezd-pic
    {
        width: 80%;
    }
}
